<%- include('../partials/header'); -%>


<% if ( locals.flash && locals.flash.success) { %>
  <script>
    swal("Ajouter avec succès", "Cliquer sur le boutton OK", "success");
  </script>
<% } %>

<!-- /////////////////////////////////////////// Liste Fichier Etablissement //////////////////////////////////////////////// -->

<div class="container" style="background-color: #f3f3f3;">
    <form action="" method="get">
      <div class="col-md-7">
         <div class="row">
           <h2> <i class="fa fa-angle-right"></i> Liste Etablissement</h2>
          </div>
      </div>
    <div class="col-md-5" style="padding-top: 20px;">
      <button type="button" class="btn btn-primary btn-md pull-right fa fa-plus" data-toggle="modal" data-target="#myModal"> Nouveau Fichier</button>
    </div>
 
    </form>
  <table class="table table-striped table-advance table-hover " style="text-align: center" id='data'>
    <thead>
      <tr>
        <th  style="text-align: center;">ID</th>
        <th  style="text-align: center"> Firaisana</th>
        <th style="text-align: center"> District</th>
        <th  style="text-align: center"> Date Maj</th>
        <th  style="text-align: center; display: none;"> Date Maj</th>
        <th  style="text-align: center"> Fonds</th>
        <th  style="text-align: center"> SAL_M</th>
        <th style="text-align: center; display: none;"> SAL_MM</th>
        <th style="text-align: center"> FJ</th>
        <th  style="text-align: center"> SAL_E</th>
        <th  style="text-align: center"> Secteur</th>
        <th  style="text-align: center"> Branche</th>
        <th  style="text-align: center"> Action</th>
      </tr>
    </thead>
    <tbody>
      <% if (list_Fichier.length>0) { %>
        <% list_Fichier.forEach(a => { %>
      <tr>

        <td><%=a.ID %></td>
        
        <td><%=a.Code_Firaisana %></td>
        <td><%=a.District %></td>
        <td style="display: none;"><%=a.Date_Maj %></td>
        <td><%=a.Date_1 %></td>
        <td><%=a.Fonds %></td>
        <td><%=a.Sal_M %></td>
        <td style="display: none;"><%=a.Sal_MM %></td>
        <td><%=a.Lib_FJ %></td>
        <td><%=a.Sal_E %></td>
        <td><%=a.Secteur %></td>
        <td><%=a.Branche %></td>
        <td>
          <button type="button" data-toggle="modal" data-target="#modal_modifier" class="btn btn-primary btn-xs" onclick="update_data('<%=a.ID %>', '<%=a.Date_Maj %>', '<%=a.Code_Firaisana %>', '<%=a.District %>', '<%=a.Fonds %>', '<%=a.Sal_M %>', '<%=a.Sal_MM %>', '<%=a.Sal_MF %>', '<%=a.Sal_E %>', '<%=a.Branche %>')"><i class="fa fa-edit"></i></button>
          <button type="button" data-toggle="modal" data-target="#modal_supprimer" class="btn btn-danger btn-xs" onclick="delete_data('<%=a.ID %>')"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
      <% }) %>
      <% } else{ %>
      <td colspan="12">Aucun Element</td>
      <% } %>
    </tbody>
  </table>
</div>

<!-- ///////////////////////////////////////////////////////// Ajouter //////////////////////////////////////////////////////// -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 style="display: flex; justify-content: center; align-items: center" class="modal-title">Ajouter Fichier</h4>
        </div>
        <form action="fich_etab" method="post">
        <!-- <div class="modal-body" > -->
            <div class="col-md-6 form-group" style="padding-top: 30px;" >
                <label for="TP_Maj"> TPMAJ</label>
                <select name="tp_maj" id="tp_maj" class="form-control">
                  <option> C</option>
                  <option>M</option>
                  <option>A</option>
                  <option>E</option>
                </select>
            </div>
            <div class="col-md-6 form-group" style="padding-top: 30px;">
                <label for="date_maj">Date Maj</label>
                <input required type="date" class="form-control" id="date_maj" name="date_maj">
            </div>
              <div class="col-md-6 form-group">
                <label for="code_firaisana">code firaisana</label>
                <input required type="number" class="form-control" id="code_firaisana" name="code_firaisana">

              </div>
              <div class="col-md-6 form-group">
                <label for="district">District</label>
                <select name="district" id="district" class="form-control">
                  <option>VATOMANDRY</option>
                  <option>MAHANORO</option>
                  <option>BRICKAVILLE</option>
                  <option>TOAMASINA I</option>
                  <option>TOAMASINA II</option>
                </select>
              </div>
              <div class="col-md-6 form-group">
                <label for="district">Fonds</label>
                <input required type="number" class="form-control" id="fond" name="fond">
              </div>
              <div class="col-md-6 form-group">
                <label for="fj">Forme Juridique</label>
                <select name="fj" id="fj" class="form-control">
                  <option>AUTRES</option>
                  <option>EI</option>
                  <option>EURL</option>
                  <option>SARL</option>
                  <option>SA</option>
                </select>
              </div>
              <div class="col-md-6 form-group">
                <label for="sale_m">Sale M</label>
                <input required type="number" class="form-control" id="sale_M" name="sale_M">
              </div>
              <div class="col-md-6 form-group">
                <label for="sale_mm">sale MM</label>
                <input required type="number" class="form-control" id="sale_MM" name="sale_MM">
              </div>
              <div class="col-md-6 form-group">
                <label for="sale_mf">sale MF</label>
                <input required type="number" class="form-control" id="sale_MF" name="sale_MF">
              </div>
              <div class="col-md-6 form-group">
                <label for="sale_me">sale ME</label>
                <input required type="number" class="form-control" id="sale_ME" name="sale_ME">
              </div>
              <div class="col-md-6 form-group">
                <label for="secteur">Secteur</label>
                <select name="secteur" id="secteur" class="form-control">
                    <option>Secteur Primaire</option>
                    <option>Secteur Secondaire</option>
                    <option>Secteur Territiaire</option>
                </select>
              </div>
              <div class="col-md-6 form-group">
                <label for="branche">Branche</label>
                <input required type="text" class="form-control" id="branche" name="branche">
              </div>
        <!-- </div> -->
        <div class="modal-footer">
            <div class="form-group col-md-12" style="padding-top: 20px;  text-align: center;">
                <button type="submit" class="btn btn-success btn-md" ><i class="fa fa-check"> Ajouter </i></button>
                <button type="reset" class="btn btn-danger btn-md"><i class="fa fa-undo"> Vider les Champs </i></button>
           </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- /////////////////////////////////////////////// Modifier /////////////////////////////////////// -->


  <div class="modal fade" id="modal_modifier" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 style="display: flex; justify-content: center; align-items: center" class="modal-title">Modifier Fichier</h4>
        </div>
        <form action="modif_fiche" method="post">
        <!-- <div class="modal-body" > -->
            <div class="col-md-6 form-group" style="padding-top: 30px; display: none;" >
              <input required type="text" class="form-control" id="IDModif" name="IDModif">
            </div>
            <div class="col-md-6 form-group" style="padding-top: 30px;" >
              <label for="TP_Maj_modif"> TPMAJ</label>
              <select name="tp_maj_modif" id="tp_maj_modif" class="form-control">
                <option> C</option>
                <option>M</option>
                <option>A</option>
                <option>E</option>
              </select>
            </div>
            <div class="col-md-6 form-group" style="padding-top: 30px;">
                <label for="date_maj">Date Maj</label>
                <input required type="date" class="form-control" id="date_majModif" name="date_majModif">
            </div>
              <div class="col-md-6 form-group">
                <label for="code_firaisana">code firaisana</label>
                <input required type="text" class="form-control" id="code_firaisanaModif" name="code_firaisanaModif">
              </div>
              <div class="col-md-6 form-group">
                <label for="districtModif">District</label>
                <select id="districtModif" name="districtModif" class="form-control">
                  <option>VATOMANDRY</option>
                  <option>MAHANORO</option>
                  <option>BRICKAVILLE</option>
                  <option>TOAMASINA I</option>
                  <option>TOAMASINA II</option>
                </select>
              </div>
              <div class="col-md-6 form-group">
                <label for="district">Fonds</label>
                <input required type="number" class="form-control" id="fondModif" name="fondModif">
              </div>
              <div class="col-md-6 form-group">
                <label for="sale_m">Sale M</label>
                <input required type="number" class="form-control" id="sale_MModif" name="sale_MModif">
              </div>
              <div class="col-md-6 form-group">
                <label for="sale_mm">sale MM</label>
                <input required type="number" class="form-control" id="sale_MMModif" name="sale_MMModif">
              </div>
              <div class="col-md-6 form-group">
                <label for="sale_mf">sale MF</label>
                <input required type="number" class="form-control" id="sale_MFModif" name="sale_MFModif">
              </div>
              <div class="col-md-6 form-group">
                <label for="sale_me">sale ME</label>
                <input required type="number" class="form-control" id="sale_MEModif" name="sale_MEModif">
              </div>
              <div class="col-md-6 form-group">
                <label for="secteur">Secteur</label>
                <select name="secteurModif" id="secteurModif" class="form-control">
                    <option>Secteur Primaire</option>
                    <option>Secteur Secondaire</option>
                    <option>Secteur Territiaire</option>
                </select>
              </div>
              <div class="col-md-12 form-group">
                <label for="branche">Branche</label>
                <input required type="text" class="form-control" id="brancheModif" name="brancheModif">
              </div>
        <!-- </div> -->
        <div class="modal-footer">
            <div class="form-group col-md-12" style="padding-top: 20px;  text-align: center;">
              <button type="submit" class="btn btn-info btn-md" > <i class="fa fa-save"> Enregistrer </i></button>
              <button type="reset" class="btn btn-danger btn-md"><i class="fa fa-undo"> Vider les Champs </i></button>
           </div>
          </div>
        </form>
      </div>
    </div>
  </div>


<!-- ///////////////////////////////////////////////// Supprimer ////////////////////////////////////////////////////////// -->



<div class="container">
<div class="modal fade" id="modal_supprimer" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 style="display: flex; justify-content: center; align-items: center" class="modal-title"> Voulez vous vraiment Supprimer </h4>
        </div>
        <form action="supp_fiche" method="post">
          <div class="col-md-6">
              <input required type="text" class="form-control" id="IDSupp" name="IDSupp" style="display: none;">
          </div>
          <div class="modal-footer">
              <div class="md-12" style="display: flex; justify-content: center; align-items: center;">
                <button type="button" class="btn btn-default" data-dismiss="modal"> <i class="fa fa-times"> NON </i></button>
                <button type="submit" class="btn btn-danger"><i class="fa fa-check"> OUI </i></button>
          </div>
          </div>
        </form>
    </div>
  </div>
</div>

</div>

<%- include('../partials/footer'); -%>

  <script>
    function update_data(id, date_1, code_firaisana, district, fonds, sale_M, sale_MM, saleMF, sale_E, branche){
      document.getElementById('IDModif').value= id;
      document.getElementById('date_majModif').value= date_1;
      document.getElementById('code_firaisanaModif').value= code_firaisana;
      document.getElementById('districtModif').value= district;
      document.getElementById('fondModif').value= fonds;
      document.getElementById('sale_MModif').value= sale_M;
      document.getElementById('sale_MMModif').value= sale_MM;
      document.getElementById('sale_MFModif').value= saleMF;
      document.getElementById('sale_MEModif').value= sale_E;
      document.getElementById('brancheModif').value= branche;

    }

    function delete_data(id){
      document.getElementById('IDSupp').value= id; 
    }

    $(document).ready(function(){
      $('#data').DataTable({
        "order": [[0, "desc"]]
    });
    });
  </script>